/* 
  footer {
  background-color: #1e1e1e;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: start;
}

.right-side {
  padding-top: 280px;
  padding-right: 20px;
}

.left-side p,
a {
  font-size: 23px;
  text-decoration: none;
  color: white;
  margin: auto;
}

.contact-info {
  display: flex;
  align-content: items-center;
  margin-left: 0;
  text-decoration: none;
}

.text-footer {
  width: 800px;
  margin-top: 10px;
}

.free-icon-phone-call {
  width: 33px;
}

.free-icon-phone-call-a:hover{
  color: #4B6EB9;
}

.free-icon-phone-call:hover path {
  fill: #4B6EB9;
}

.https:hover {
  color: #4B6EB9;
}

.free-icon-vk {
  height: 52px;
  margin: 7px;
}

.free-icon-vk:hover path {
  fill: #4B6EB9;
}

.free-icon-telegram {
  height: 52px;
  margin: 7px;
}

.free-icon-telegram:hover path {
  fill: #4B6EB9;
}

.free-icon-youtube {
  height: 52px;
  margin: 7px;
}

.free-icon-youtube:hover path {
  fill: #E63246;
}

.contact-info-logo {
  height: 30px;
}

.left-side-top {
  margin-top: 10px;
  margin-bottom: 10px;
}

.img_footer_logo {
  padding-top: 100px;
  padding-bottom: 20px;
}
  .contact-info {
    display: flex;
    align-content: items-center;
    margin-left: 0;
    text-decoration: none;
  }
  .text-footer {
    width: 800px;
  }
  .right-side img {
    height: 48px;
    margin-left: 10px;
  }
  
  .contact-info-logo {
    height: 30px;
  }
  
   */