.swiper {
    width: 600px;
    height: 200px;
}

.swiper-slide img {
    width: 100%;
    height: auto;
    display: block;
}

.prev-button {
    background-color: transparent;
    border: none;
    cursor: po inter;
    padding-right: 10px;
}

.next-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}