.blok{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    background-color: #EEEEEE;
    padding: 30px;
    height: 450px; 
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.text {
    margin: auto;
}

.text-a{
    font-size: 3rem;
    color: black;
    font-weight: 700;
}
.text_p_hover{
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 2.2rem;
    color: black;
}

.text-hover {
    font-weight: 570;
  }

.button-a{
    color: #4B6EB9;  
    font-size: 2.4rem;
    text-decoration: underline;
}
.blok img {
    margin-left: 35px;
    width: 500px;
}
.img_1,
.img_2,
.img_3
{
    border-radius: 30px;
}