@import "/src/css/stylesheet.css";


.header_text_p-history {
    font-size: 1.4rem;
    width: 892px;
    font-family: 'VerdanaCLassic', sans-serif;
    letter-spacing: -0.2px;
}

.section-1 {
    background-color: #EEEEEE;
    padding-bottom: 50px;
}

.s-container-h3 {
    font-size: 2.7rem;
    width: 476px;
    padding-top: 9rem;
    font-family: 'Gilroy-Extrabold', sans-serif;
}

.container-2 {
    margin-left: 90px;
}

.s-container-p {
    width: 600px;
    font-size: 1.4rem;
    padding-top: 20px;
}

/* Основные стили для слайдов */
.swiper-slide {
    display: flex;
    /*  align-items: center; */
    width: 1250px;
    overflow: hidden;
    position: relative;
    margin: auto;
}


/* Стили для изображения в слайде */
.swiper-slide img {
    width: 600px;
    height: 360px;
    object-fit: cover;
}

/* Стили для оверлея */
.overlay {
    width: 100%;
    margin-top: 40px;
    padding-bottom: 20px;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.overlay h2 {
    font-size: 2.3rem;
    margin-bottom: 10px;
    line-height: 1.3;
    font-weight: bold;
}


.overlay strong {
    font-weight: bold;
    font-size: 2.3rem;
}

.img-backrond1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 360px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(/image/image-history-swiper-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}

.img-backrond2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 360px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(/image/image-history-swiper-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}

.img-backrond3 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 360px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(/image/image-history-swiper-3.png);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}

.overlay p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    opacity: 0.85;
}

.s-button-prev {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-right: 10px;
}

.s-button-next {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.slider-button {
    display: flex;
    justify-content: end;
    margin-top: 50px;
}

.slider-controls {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 50px;
}

.slider-counter {
    font-size: 18px;
    font-weight: bold;
}


.history-block-info {
    height: 400px;
    background-color: #EEEEEE;
}

.history-block-info-white {
    height: 400px;
    background-color: white;
}

.history-block-info-h3 {
    font-size: 2.3rem;
    width: 476px;
    /*     font-weight: 600; */
    font-family: 'Gilroy-Extrabold';
    padding: 40px 5rem;
}

.history-block-info-p {
    width: 960px;
    margin: 40px auto;
    font-size: 1.4rem;
    padding-top: 20px;
    padding-left: 5rem;
}

.div-pages-info {
    height: 340px;
    background-color: #EEEEEE;
    display: flex;
    padding-top: 70px;
    justify-content: center;
}

.pages-info:nth-child(1) {
    background-color: #874BA0;
}

.pages-info:nth-child(2) {
    background-color: #E63346;
}

.pages-info:nth-child(3) {
    background-color: #1E1E1E;
}

.pages-info:nth-child(4) {
    background-color: #55B431;
}

.pages-info {
    width: 300px;
}

.pages-info-p {
    padding-left: 30px;
    padding-top: 40px;
    width: 175px;

}

.pages-info-a {
    font-size: 2.3rem;
    /*   font-weight: 600; */
    font-family: 'Gilroy-Extrabold';
    /*    margin-left: 20px;
    margin-top: 20px; */
    text-decoration: none;
    color: white;
}