@import "/src/css/stylesheet.css";
@import '/src/css/history.css';


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1e1e1e; 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader {
  font-size: 1.5rem;
  color: #333;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.3; }
}

.spin {
  animation: spin 2s linear infinite;
  width: 100px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.button {
  font-size: 2rem;
  background-color: #6251A2;
  color: #FFFFFF;
  padding: 1rem 2rem;
  border-radius: 60px;
  text-decoration: none;
  transition: 0.3s;
}

.button:hover {
  background-color: #4b6eb9;
}

.button-lg {
  padding: 2rem 4rem;
}

html,
body {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Gilroy-Medium', serif;
  max-width: 2100px;
  margin: 0;
}


.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1rem;
}

.window {
  display: none;
}

.header-content {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.header-content__content {
  font-size: 1.2rem;
  line-height: 1.4;
  color: rgb(0, 0, 0, 0.7);
}


@media (min-width: 768px) {
  .header-content {
    padding-top: 4rem;
    padding-bottom: 4rem;
    max-width: 70%;
  }

  .header-content__content {
    font-size: 1.6rem;

  }
}

header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: 700px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../image/bc-main.png);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
}

.header__inner {
  display: flex;
  align-items: center;
  height: 98px;
}

.header__title {
  font-size: 26px;
  font-weight: 900;
  line-height: 31px;
  letter-spacing: -0.015em;
  text-align: center;
}

.header__logo-img {
  width: 164px;
  height: 70px;
  margin-top: 3px;
  margin-left: 40px;
  margin-right: 20px;
}

.header__nav {
  margin-left: auto;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 6.2rem;
}

.menu__link {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
}

.menu__dropdown {
  margin-right: 20px;
  position: relative;
  display: inline-block;
}

.menu__dropdown:hover .menu__dropdown-content {
  display: block;
}

.menu__link:hover {
  color: #4b6eb9;
  ;
}

.header_text {
  margin-left: 90px;
  margin-top: 6rem;
}

.header_text_h3 {
  font-size: 1.2rem;
  margin-bottom: 2.7rem;
}

.header_text_h1 {
  width: 540px;
  font-size: 2.7rem;
  margin-bottom: 2.7rem;
  /*   font-family: 'Gilroy-Extrabold', sans-serif; */
}

.header_text_p {
  font-size: 1.4rem;
  width: 540px;
  font-family: 'Gilroy-Medium', serif;
  letter-spacing: -0.2px;
}

.container-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: 1200px;
  margin: auto;
  margin-top: -13rem;
  margin-bottom: 10rem;
}

.container-block-white-a {
  color: black;
  text-decoration: none;
}

.container-block-black-a {
  color: white;
  text-decoration: none;
} 

.container-block-history {
  background: white;
  color: black;
  grid-column: span 2;
  height: 360px;
  padding: 38px;
  position: relative;
  padding-bottom: 40px;
}

.container-block-history:hover {
  background: white;
}

.container-block-history-p1 {
  font-size: 2.2rem;
  padding-bottom: 20px;
  /*   font-weight: 600; */
  font-family: 'Gilroy-Extrabold', sans-serif;
}

.container-block-history-p2 {
  font-size: 1.7rem;
  padding-bottom: 30px;
}

.container-block-history-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.container-block-history-div-p1 {
  font-size: 2.2rem;
  padding-bottom: 20px;
  /*   font-weight: 600; */
  font-family: 'Gilroy-Extrabold', sans-serif;
}

.container-block-history-div-p2 {
  font-size: 1.7rem;
  padding-bottom: 20px;
}

.container-block-div {
  padding-top: 3rem;
  position: absolute;
  bottom: 50px;
}

.container-block-a {
  position: relative;
  font-size: 2rem;
  font-family: 'Gilroy-Extrabold', sans-serif;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.container-block-a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  right: 0;
  height: 2px;
  width: 100%;
  background-color: currentColor;
  transition: width 0.3s ease, left 0.3s ease;
}

.container-block-a:hover::after,
.container-block-a:focus::after {
  width: 0;
  right: 0;
}

/* 
.a-line {
  background-color: #1E1E1E;
  height: 2px;
  width: 126px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}

.a-line::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.3s ease-out;
}

.a-line:hover::after {
  width: 100%;
}

 */
/* .a-line-white {
  background-color: white;
  height: 2px;
  width: 126px;
  margin-top: 10px;
} */

.container-block-vov {
  background: #1E1E1E;
  color: white;
  grid-column: span 1;
  height: 360px;
  padding: 38px;
  position: relative;
  padding-bottom: 40px;
  animation: none;
}

.container-block-vov:hover {
  background: #4C6EB9;
  transition: transform 4s ease-in 5s;
  /*   animation-name: circle-to;
  animation-duration: 5s;
  animation-iteration-count: infinite; */
}

/* 
@keyframes circle-to {
  from {
    width: 50px;
    height: 50px;
    background-color: #F498AD;
  }
  to {
    width: 200px;
    height: 200px;
    background-color: #2E9AFF;
  }
} */


.container-block-vov-p1 {
  font-size: 2.2rem;
  padding-bottom: 20px;
  /*   font-weight: 600; */
  font-family: 'Gilroy-Extrabold', sans-serif;
}

.container-block-vov-p2 {
  font-size: 1.7rem;
  padding-bottom: 20px;
}

.container-block-korpus {
  background: white;
  color: black;
  grid-column: span 1;
  height: 360px;
  padding: 38px;
  position: relative;
  padding-bottom: 40px;
}

.container-block-korpus:hover {
  background: #4C6EB9;
}

.container-block-korpus-p1 {
  font-size: 2.2rem;
  padding-bottom: 20px;
  /*   font-weight: 600; */
  font-family: 'Gilroy-Extrabold', sans-serif;
}

.container-block-korpus-p2 {
  font-size: 1.7rem;
  padding-bottom: 30px;
}

.container-block-znak {
  background: #1E1E1E;
  color: white;
  grid-column: span 2;
  height: 360px;
  padding: 38px;
  position: relative;
  padding-bottom: 40px;
}

.container-block-znak:hover {
  background: #4C6EB9;
}

.container-block-znak-p1 {
  font-size: 2.2rem;
  padding-bottom: 20px;
  /*   font-weight: 600; */
  font-family: 'Gilroy-Extrabold', sans-serif;
}

.container-block-znak-p2 {
  font-size: 1.7rem;
}

.container-block-awards {
  background: #E63346;
  color: white;
  grid-column: span 2;
  height: 360px;
  padding: 38px;
  position: relative;
  padding-bottom: 40px;
}

.container-block-awards-p1 {
  font-size: 2.2rem;
  padding-bottom: 20px;
  /*   font-weight: 600; */
  font-family: 'Gilroy-Extrabold', sans-serif;
}

.container-block-awards-p2 {
  font-size: 1.7rem;
}


.foto-for-blok {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../image/фактойд.png);
  min-height: 700px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 16rem;
}

.photo-h3 {
  color: white;
  font-size: 2.7rem;
  width: 476px;
  margin-left: 90px;
  padding-top: 13rem;
  /*   font-weight: 600; */
  font-family: 'Gilroy-Extrabold', sans-serif;
}

.photo-h3-2 {
  color: white;
  font-size: 2.7rem;
  width: 496px;
  margin-left: 90px;
  padding-bottom: 9rem;
  /*   font-weight: 600; */
  font-family: 'Gilroy-Extrabold', sans-serif;
}

.photo-p1 {
  color: white;
  font-size: 3.3rem;
  width: 476px;
  margin-left: 90px;
  /*   font-weight: 600; */
  font-family: 'Gilroy-Extrabold', sans-serif;
}

.photo-p2 {
  color: white;
  font-size: 1.7rem;
  width: 476px;
  margin-left: 90px;
}

.slider-container-h3 {
  font-size: 2.7rem;
  padding: 90px;
  padding-top: 0px;
  font-family: 'Gilroy-Extrabold', sans-serif;
}

.slider-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 1250px;
  /* 3 картинки по 100px + отступы */
  overflow: hidden;
  position: relative;
  margin: auto;
  padding-bottom: 5rem;
}

.slider-wrapper {
  width: 1221px;
  /* Показывает 3 изображения */
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.4s ease-in-out;
  width: 3663px;
  /* Должно быть кратно количеству слайдов */
}

.slide {
  display: flex;
  justify-content: space-between;
  width: 1221px;
  /* Каждый слайд занимает ровно 3 картинки */
  flex-shrink: 0;
}

.slider-button {
  padding-right: 11rem;
  text-align: right;
  margin-bottom: 5rem;
}

.gallery-item {
  width: 410px;
  height: 360px;
  object-fit: cover;
}

.prev-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-right: 10px;
}

.next-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}


footer {
  background-color: #1e1e1e;
  color: #EEEEEE;
  display: flex;
  justify-content: space-between;
  height: 460px;
  padding: 20px;
  padding-bottom: 40px;
  font-family: 'Gilroy-Medium', sans-serif;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 23px;
  text-decoration: none;
}

.right-side {
  display: flex;
  align-items: baseline;
  gap: 4.2rem;
}

/* .left-side p,
a {
  font-size: 23px;
  text-decoration: none;
  margin: auto;
  opacity: 0.3;
} */

.footer-contact-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-info {
  display: flex;
  align-content: items-center;
  margin-left: 0;
  text-decoration: none;
}

.text-footer {
  width: 800px;
  margin-top: 10px;
  font-size: 1.7rem;
}


.free-icon-phone-call-a {
  opacity: 0.3;
  font-size: 1.7rem;
}

.free-icon-phone-call-a:hover {
  color: #4B6EB9;
  opacity: 1;
}

.https {
  padding-top: 10px;
  font-size: 23px;
  color: white;
  opacity: 0.3;
  font-size: 1.7rem;
}

.https:hover {
  color: #4B6EB9;
  opacity: 1;
}

.free-icon-vk {
  width: 28px;
  margin: 7px;
  opacity: 0.3; 
}

.free-icon-vk:hover path {
  fill: #4B6EB9;
}

.free-icon-vk:hover {
  opacity: 1;
}

.free-icon-telegram {
  width: 28px;
  margin-bottom: 7px;
  opacity: 0.3;
}

.free-icon-telegram:hover path {
  fill: #4B6EB9;
}

.free-icon-telegram:hover {
  opacity: 1;
}

svg {
  width: 100%;
  height: 100%;
}

.free-icon-youtube {
  width: 32px;
  margin: 7px;
  opacity: 0.3; 
}

.free-icon-youtube:hover path {
  fill: #E63246;
}

.free-icon-youtube:hover {
  opacity: 1;
}

.contact-info-logo {
  height: 30px;
}

.left-side-top {
  margin-top: 10px;
  margin-bottom: 10px;
}

.img_footer_logo {
  padding-top: 90px;
  padding-bottom: 90px;
  width: 232px;
}

.contact-info {
  display: flex;
  align-content: items-center;
  margin-left: 0;
  text-decoration: none;
}

.text-footer {
  width: 800px;
}

.right-side img {
  height: 48px;
  margin-left: 10px;
}

.contact-info-logo {
  height: 30px;
}