footer {
  background-color: #71506f;
  color: #ededed;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: start;
}

.left-side p,
a {
  font-size: 21px;
  text-decoration: none;
  color: #afafaf;
}

.contact-info {
  display: flex;
  align-content: items-center;
  margin-left: 0;
  text-decoration: none;
}
.text-footer {
  width: 800px;
}
.right-side img {
  height: 48px;
  margin-left: 10px;
}

.contact-info-logo {
  height: 30px;
}
